
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.sidebar-toggle {
    position: fixed;
    top: 4rem;
    right: 4rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
    transition: ease 0.5s;
    color: white;
} 

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

.sidebar-toggle:hover {
    color: #1CCBB1;
}

.sidebar-toggle:focus {
    outline: none;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 38px;
    color: white;
}

.sidebar-header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.links a {
    display: block;
    padding: 1rem 1.5rem;
    font-size: 26px;
    transition: all ease 0.5s;
}

.links a:hover {
    color: #109783;
    padding-left: 1.75rem;
    background: #054138;
}

.social-icons {
    display: flex;
    padding: 2rem 1.5rem;
    justify-content: center;
}

.social-icons a { 
    color: white;
    font-size: 25px;
    padding: 0 10px;
}

.social-icons li {
    transition: transform 0.5s ease-out;

}

.social-icons li:hover {
    transform: rotate(0.5turn);
}

.sidebar {
    background: #1CCBB1;
    position: fixed;
    width: 400px;
    height: 100%;
    transition: all ease 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -10;
    transform: translate(-100%);
}

.show-sidebar {
    transform: translate(0);
    z-index: 10;
}

.close-btn {
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;
    transition: transform 0.2s ease-out;
    color: #054138;
    cursor: pointer;

}

.close-btn:hover {
    transform: rotate(0.5turn);
}

.close-btn:focus {
    outline: none;
}

@media screen and (max-width: 650px) {
    .sidebar {
        width: 100%;
    }

    h1 {
        font-size: 25px;
    }
}